<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="springAppName" source="spring.application.name"/>

	<property name="LOG_FILE" value="${APP_LOG_FOLDER:-logs}/${springAppName}"/>

	<property name="LOG_PATTERN"
			  value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } - [%10.10t] %30.30logger{30}[%3line] %m%n"/>

	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}-%d{yyyy-MM}.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>6</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

    <appender name="HEARTBEAT_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}-heartbeat.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}-heartbeat-%d{yyyy-MM}.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>6</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

    <logger name="com.entdiy.nat.heartbeat" level="DEBUG" additivity="false">
        <appender-ref ref="HEARTBEAT_LOG_FILE"/>
    </logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="LOG_FILE"/>
	</root>
</configuration>
